.config/emacs/elpa/
.config/emacs/melpa/
.config/emacs/*~
.config/emacs/#*#
.config/emacs/.*#
.config/emacs/config.el
.config/emacs/custom.el
.config/emacs/.emacs.desktop
.config/emacs/.emacs.desktop.lock
.config/emacs/straight/
.config/emacs/transient/
.config/emacs/auto-save-list/
.config/emacs/backups/
.config/emacs/eshell/
.config/emacs/history
.config/emacs/places
.config/emacs/recentf
.config/emacs/url/
.config/emacs/*.elc
.config/emacs/*.cache
*~
#*#
.*#
.config/emacs/eln-cache/
.config/emacs/abbrev_defs
.config/emacs/network-security.data
